.main-section {
    background-image: url('../img/img-main.jpeg');
    background-size: cover; /* La imagen cubrirá todo el ancho y largo */
    background-position: center;
    height: 300px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    text-align: center;
}

.card {
    height: 10px;
}

.card img{
    height: 200px;
  
}

.containerPropiedades{
    display: flex;
    gap: 5px;
    flex-wrap:wrap;
    justify-content: center;
    align-items: center;
}


h2{
    text-align: center;

}